@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    min-height: 100vh;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.navigation ul {
    list-style: none;
    padding: 0;
    background: -webkit-gradient(linear, left top, right top, from(#1b86dd), to(#034086)) no-repeat;
    background: -moz-linear-gradient(left, #CCCCCC, #000000);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#CCCCCC', EndColorStr='#000000');
}

    .navigation ul li {
        color: white;
        padding: 20px;
        display: inline-block;
        text-decoration: none;
        transition: background .4s;
        font-size: larger;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

        .navigation ul li a {
            text-decoration: none;
            color: white;
        }

        .navigation ul li:hover {
            background-color: rgb(218, 211, 211);
            color: rgb(14, 96, 204);
        }

input[type=text]:-moz-read-only {
    position: absolute;
    background-color: #dddddd;
}

input[type=text]:read-only {
    position: absolute;
    background-color: #dddddd;
}

input[type=checkbox] {
    position: absolute;
    right: 67%;
    transform: translateY(163px);
}

input[type=submit] {
    position: absolute;
    transform: translateY(110px);
    right: 57;
    background-color: #1b86dd;
    color: white;
    border-style: none;
    width: 110px;
    height: 30px;
}

input {
    position: absolute;
    right: 55%;
    transform: translateY(72px);
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
}

#Oii {
    position: absolute;
    right: 55%;
    background-color: #dddddd;
}

label {
    position: absolute;
    right: 53%;
    transform: translateY(155.7px);
}

.container {
    position: absolute;
    transform: translateY(-190px);
    right: 50%;
    z-index: -1;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    width: 300px;
    height: 410px;
}

#img11 {
    position: absolute;
    right: 0%;
    transform: translateY(369px);
    z-index: 1;
    padding: 10px;
}

#img12 {
    position: absolute;
    right: 0%;
    transform: translateY(290px);
    z-index: 1;
    padding: 10px;
}


footer {
    position: absolute;
    transform: translateY(300px);
    background-color: rgb(0, 0, 0);
    color: #FFF;
    right: 18%;
    width: 1250px;
    height: 160px;
    z-index: 2;
}

    footer ul {
        text-decoration: none;
        list-style: none;
    }

        footer ul a {
            text-decoration: none;
            list-style: none;
            color: #FFF;
        }
